@import "root/root.css";
@import "root/header.css";
@import "root/main.css";

/* КОНТЕЙНЕР С ОПИСАНИЕМ */

.main-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url(../img/main-description-black.jpg) no-repeat center center fixed;
    height: 75vh;
    /* height: 740px; */
    width: 100vw;
    background-size: cover;
}

.description-img {
    height: 640px;
    filter: blur(102px);
}

.container-description {
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.description-text {
    width: 465px;
}

.text {
    font-style: bold;
    font-weight: 700;
    font-size: 35px;
    line-height: 118%;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.description-item {
    display: flex;
    flex-wrap: wrap;
    width: 672px;
}

.table-one {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding-top: 0;
}

.table-two {
    border-bottom: 1px solid #000000;
    padding-top: 0;
}

.table-three {
    padding-bottom: 0;
    border-right: 1px solid #000000;
}

.table-four {
    padding-bottom: 0;
}

.item-table {
    width: 50%;
    padding: 30px 28px;
}

.table-title {
    font-style: normal;
    font-weight: 700;
    font-weight: 700;
    font-size: 35px;
    line-height: 118%;
    color: rgb(255, 255, 255);
}

.table-title span {
    color: #3ca0e7;
}

.table-title strong {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.table-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    margin-top: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* ОПИСАНИЕ КОМПАНИИ */

.main-about ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}

.row {
    display: flex;
    flex-direction: row-reverse;
}

.container {
    display: flex;
    justify-content: center;
}

.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

.sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #3ca0e7;
    font-weight: 500;
    margin-bottom: 15px;
}

.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 18px;
}

.sec-title h2:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 3px;
    background-color: #d1d2d6;
}

.sec-title .text-company {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.text-center h2:before {
    left: 50%;
    margin-left: -25px;
}

.list-style-one {
    position: relative;
}

.list-style-one li:before {
    content: "•";
    color: #3ca0e7;
    margin-right: 10px;
}

.about-section {
    position: relative;
    padding: 120px 0 70px;
}

.about-section .sec-title {
    margin-bottom: 45px;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 50px;
}

.about-section .content-column .inner-column {
    position: relative;
    padding-left: 80px;
    width: 800px;
}

.about-section .text-company {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}

.about-section .list-style-one {
    margin-bottom: 45px;
}

.about-section .image-column {
    position: relative;
}

.about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column {
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
}

.about-section .image-column .inner-column:before {
    position: absolute;
    left: -75px;
    top: 65px;
    height: 520px;
    width: 520px;
    background-image: url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
    content: "";
}

.about-section .image-column .image-1 {
    position: relative;
}

.about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
}

.about-section .image-column .video-link {
    position: absolute;
    left: 70px;
    top: 170px;
}

.about-section .image-column .video-link .link {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}


/* СПЕЦИАЛИЗАЦИЯ РАБОЧИХ */

Vertical Tabs .mdl-tabs__panel {
    display: none;
}

.main-specialization {
    width: 72vw;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-specialization ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mdl-tabs__panel-text {
    font-size: 18px;
}

.vertical-mdl-tabs {
    margin-top: 15px;
    margin-left: 25vw;
}

.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
    background: rgba(158, 158, 158, 0.34);
    color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid #3ca0e7;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
    padding: 0 0 0 50px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

.text-center {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #3ca0e7;
}

/* .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: #E21549;
} */



/* СТЭК ТЕХНОЛОГИЙ */

.main-stack {
    padding-bottom: 70px;
}

.main-stack ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.stack-text {
    width: 565px;
}

.stack-text h3 {
    font-size: 46px;
}

.stack-text div {
    font-size: 16px;
    font-weight: 600;
    color: rgb(152, 152, 152);
}

.stack-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 150px;
}

.faq-content {
    margin: 0 auto;
    width: 600px;
}

.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
}

.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.panel {
    display: none;
}

/* TABS С ИНФОРМАЦИЕЙ */

#container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 20vh;
}

.main-tabsInfo ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs-content span{
    color: #3ca0e7;
}

.tabs-nav li {
    display: inline-block;
    background: rgba(0, 0, 0, 0.78); /* #146096 */
    color: #fefefe;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #34495E;
    margin-right: 5px;
}

.tabs-nav a{
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff !important;
}

.tabs-nav li.active {
    background: #FFF;
    color: #000;
}

.tabs-nav li.active a {
    color: inherit !important;
}

.tabs-content {
    border: 1px solid #34495E;
    padding: 10px;
    background: #FFF;
    margin-top: -1px;
    overflow: hidden;
}

.tabs-content div:not(:first-child) {
    display: none;
}