@import "root/root.css";
@import "root/header.css";
@import "root/main.css";
@import "root/footer.css";


/* КОНТЕЙНЕР С ОПИСАНИЕМ */

.main-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url(../img/main-description-black.jpg) no-repeat center center fixed;
    height: 75vh;
    /* height: 740px; */
    width: 99vw;
    background-size: cover;
}

.description-img {
    height: 640px;
    filter: blur(102px);
}

.container-description {
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.description-text {
    width: 465px;
}

.text {
    font-style: bold;
    font-weight: 700;
    font-size: 35px;
    line-height: 118%;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.description-item {
    display: flex;
    flex-wrap: wrap;
    width: 672px;
}

.table-one {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding-top: 0;
}

.table-two {
    border-bottom: 1px solid #000000;
    padding-top: 0;
}

.table-three {
    padding-bottom: 0;
    border-right: 1px solid #000000;
}

.table-four {
    padding-bottom: 0;
}

.item-table {
    width: 50%;
    padding: 30px 28px;
}

.table-title {
    font-style: normal;
    font-weight: 700;
    font-weight: 700;
    font-size: 35px;
    line-height: 118%;
    color: rgb(255, 255, 255);
}

.table-title span {
    color: #3ca0e7;
}

.table-title strong {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.table-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    margin-top: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* ОПИСАНИЕ КОМПАНИИ */

.main-about ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-about img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}

.container-row {
    display: flex;
    flex-direction: row-reverse;
}

.container {
    display: flex;
    justify-content: center;
}

.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

.sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #3ca0e7;
    font-weight: 500;
    margin-bottom: 15px;
}

.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 18px;
}

.sec-title h2:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 3px;
    background-color: #d1d2d6;
}

.sec-title .text-company {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.text-center h2:before {
    left: 50%;
    margin-left: -25px;
}

.list-style-one {
    position: relative;
}

.list-style-one li:before {
    content: "•";
    color: #3ca0e7;
    margin-right: 10px;
}

.about-section {
    position: relative;
    padding: 120px 0 70px;
}

.about-section .sec-title {
    margin-bottom: 45px;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 50px;
}

.about-section .content-column .inner-column {
    position: relative;
    padding-left: 80px;
    width: 800px;
}

.about-section .text-company {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}

.about-section .list-style-one {
    margin-bottom: 45px;
}

.about-section .image-column {
    position: relative;
}

.about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column {
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
}

.about-section .image-column .inner-column:before {
    position: absolute;
    left: -75px;
    top: 65px;
    height: 520px;
    width: 520px;
    background-image: url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
    content: "";
}

.about-section .image-column .image-1 {
    position: relative;
}

.about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
}

.about-section .image-column .video-link {
    position: absolute;
    left: 70px;
    top: 170px;
}

.about-section .image-column .video-link .link {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}



/* СПЕЦИАЛИЗАЦИЯ РАБОЧИХ */

Vertical Tabs .mdl-tabs__panel {
    display: none;
}

.main-specialization {
    width: 80vw;
    /* width: 1200px; */
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mdl-tabs {
    margin-left: 25vw;
}

.main-specialization ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mdl-tabs__panel-text {
    font-size: 18px;
}

.vertical-mdl-tabs {
    margin-top: 15px;
    /* margin-left: 25vw; */
}

.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* padding-bottom: 35px; */
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
    background: rgba(158, 158, 158, 0.34);
    color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid #3ca0e7;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
    padding: 0 0 0 50px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

.text-center {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #3ca0e7;
}

/* .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: #E21549;
} */



/* СТЭК ТЕХНОЛОГИЙ */

.main-stack {
    padding-bottom: 70px;
}

.main-stack ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.stack-text {
    width: 565px;
}

.stack-text h3 {
    font-size: 46px;
}

.stack-text div {
    font-size: 16px;
    font-weight: 600;
    color: rgb(152, 152, 152);
}

.stack-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.faq-content {
    margin: 0 auto;
    width: 600px;
}

.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
}

.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked ~ .panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.panel {
    display: none;
}

.arrow {
    display: inline-block;
    transition: transform 0.4s ease;
}

.panel:checked + .panel-title .arrow {
    transform: rotate(180deg);
}


/* TABS С ИНФОРМАЦИЕЙ */

#container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.main-tabsInfo ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs-content span {
    color: #3ca0e7;
}

.tabs-nav li {
    display: inline-block;
    background: rgba(0, 0, 0, 0.78);
    /* #146096 */
    color: #fefefe;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #34495E;
    margin-right: 5px;
}

.tabs-nav a {
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff !important;
}

.tabs-nav li.active {
    background: #FFF;
    color: #000;
}

.tabs-nav li.active a {
    color: inherit !important;
}

.tabs-content {
    border: 1px solid #34495E;
    padding: 10px;
    background: #FFF;
    margin-top: -1px;
    overflow: hidden;
}

.tabs-content div:not(:first-child) {
    display: none;
}



/* ОТЗЫВЫ КЛИЕНТОВ */

section.t-bq-section {
    padding: 30px;
    margin-bottom: 60px;
}

.t-bq-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
    max-width: 676px;
    /* margin: 0 auto; */
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
    max-width: 100%;
}

.t-bq-wrapper .t-bq-quote {
    padding: 20px;
}

.t-bq-quote-emma {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 250px;
    background: #ffffff;
    padding: 0 !important;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 2px 2px 25px #cecece;
}

.t-bq-quote-emma .t-bq-quote-emma-qmark {
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Garamond, Georgia, serif;
    font-size: 42pt;
    color: #666666;
    line-height: 60px;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    border-top: 2px solid #eeeeee;
}

.t-bq-quote-emma .t-bq-quote-emma-qmark span {
    padding-top: 0.25em;
}

.t-bq-quote-emma .t-bq-quote-emma-userpic {
    flex-basis: 150px;
    width: 450px;
    min-width: 150px;
    max-height: auto;
    /* background: url(""); */
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.t-bq-quote-emma .t-bq-quote-emma-base {
    flex-basis: calc(100% - 150px);
    padding: 60px 30px 45px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-bq-quote-emma .t-bq-quote-emma-base .t-bq-quote-emma-text {
    font-size: 16px;
    line-height: 30px;
}

.t-bq-quote-emma .t-bq-quote-emma-base .t-bq-quote-emma-text:after {
    content: "\2014\00A0" attr(cite);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-top: 10px;
}

.t-bq-section button {
    background: none;
    border: none;
    padding: 0 80px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}



/* СЕКЦИЯ FAQ */

.container-faq {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    width: 48rem;
}

.main-stack ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion {
    .accordion-item {
        border-bottom: 1px solid #e5e5e5;

        button[aria-expanded='true'] {
            border-bottom: 1px solid #3ca0e7;
        }
    }

    .accordion-item button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #7288a2;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;

        &:hover,
        &:focus {
            cursor: pointer;
            color: #3ca0e7;

            &::after {
                cursor: pointer;
                color: #3ca0e7;
                border: 1px solid #3ca0e7;
            }
        }

        .accordion-title {
            padding: 1em 1.5em 1em 0;
        }

        .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;

            &::before {
                display: block;
                position: absolute;
                content: '';
                top: 9px;
                left: 5px;
                width: 10px;
                height: 2px;
                background: currentColor;
            }

            &::after {
                display: block;
                position: absolute;
                content: '';
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }

    button[aria-expanded='true'] {
        color: #3ca0e7;

        .icon {
            &::after {
                width: 0;
            }
        }

        +.accordion-content {
            opacity: 1;
            max-height: 99em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }

    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
        }
    }
}



/* ФОРМА ДЛЯ КОНСУЛЬТАЦИИ */

/* @mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
} */

.align-center {
    text-align: center;
}

.row {
    @include clearfix;
    margin: -20px 0;

    .col {
        padding: 0 20px;
        float: left;
        box-sizing: border-box;

        &.x-50 {
            width: 50%;
        }

        &.x-100 {
            width: 100%;
        }
    }
}

.formCons-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    /* transform: translateY(-50%); */

    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 36px;
        line-height: 48px;
        /* padding-bottom: 48px; */
    }
}

.contact-form {
    .form-field {
        position: relative;
        margin: 32px 0;
    }

    .input-text {
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: #000;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;

        &:focus {
            outline: none;
        }

        &:focus,
        &.not-empty {
            +.label {
                transform: translateY(-24px);
            }
        }
    }

    .label {
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #888;
        cursor: text;
        transition: transform .2s ease-in-out;
    }

    .submit-btn {
        display: inline-block;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
    }
}






/* VACANCY */

/* ОПИСАНИЕ */

.main-faq ul{
    margin: 0;
    /* padding: 0; */
    list-style: none;
}

.vacancy-description {
    max-width: 560px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 8vh;
    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 36px;
        line-height: 48px;
    }
}

.container-faq {
    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 36px;
        line-height: 48px;
    }
}

/* ФОРМА */

.add-skill-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3CA0E7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-skill-btn:hover {
    background-color: #2b80b4;
}








/* DB-SPEC */

/* карточки */

.specialization-cards ul {
    margin: 0;
    /* padding: 0; */
    list-style: none;
}

.specialization-cards span {
    color: rgb(152, 152, 152);
    font-size: 18px;
}

.specialization-cards p {
    font-size: 18px;
}

.specialization-item {
    display: flex;
    width: 380px;
    height: 180px;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-bottom: 4vh;
    margin-left: 9vw;
    background-color: rgb(169, 152, 152, 0.2);
    border-radius: 30px;
    padding: 40px;
    align-items: center;
}

.specialization-item img{
    width: 120px;
    height: 170px;
    
}

.specialization-item h2{
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}